.page-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;

    .sidebar {
        margin-top: 20px;
        width: 250px;
        position: sticky;
        top: 100px;
        max-height: calc(100vh - 120px); // chiều cao tối đa = viewport - top
        overflow-y: auto; // scroll dọc khi dài
        background-color: #fff;
        border: 1px solid #eee;
        padding: 10px;
        border-radius: 6px;

        /* Ẩn scroll nhưng vẫn scroll được */
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;

        /* IE 10+ */
        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera */
        }
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar li {
        padding: 8px 0;
        cursor: pointer;
    }

    .content {
        flex: 1;
    }
}