.banner {
    background-image: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c");
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;

    h3 {
        font-weight: bold;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
        animation: fadeDown 1s ease-in-out;
    }
}

.section {
    margin: 40px 0;

    background-color: #fff;
    border-radius: 10px;
    width: 100%;

    .section-title {
        margin-bottom: 20px;
        font-weight: 700;
        position: relative;
        display: inline-block;
        margin: 10px;
        color: '#8b5e3c';

        &::after {
            content: "";
            display: block;
            width: 60%;
            height: 3px;
            background: linear-gradient(90deg, #ff7e5f, #feb47b);
            margin-top: 6px;
            border-radius: 2px;
        }
    }

    .company-card {
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        cursor: pointer;
        height: 200px;
        margin: 10px;
        /* chỉ hiển thị hình */
        transition: height 0.4s ease, box-shadow 0.4s ease;

        &:hover {
            height: auto;
            /* khi hover thì mở rộng để hiển thị full chi tiết */
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

            .card-content {
                opacity: 1;
                transform: translateY(0);
                // background: rgba(0, 0, 0, 0.4);
            }
        }

        .card-content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 16px;
            color: #fff;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.4s ease;

            .company-name {
                font-weight: 700;
                font-size: 18px;
                margin-bottom: 4px;
            }

            .company-address {
                font-size: 14px;
                opacity: 0.9;
            }

            .company-phone,
            .company-email {
                font-size: 13px;
                opacity: 0.85;
            }
        }
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}