.main-header {
    background-color: #8b5e3c; // Nâu đất
    border-bottom: 1px solid #70412a;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #fff;
    max-width: 100%;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo img {
        height: 50px;
        border-radius: 12px;
    }

    .navbar {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;

            li {
                cursor: pointer;
                color: #f8f1e7; // Nâu nhạt sáng
                font-weight: bold;
                transition: color 0.3s ease;

                &:hover {
                    color: #ffd28f; // Nâu vàng nhạt
                }
            }
        }
    }

    .navbar ul li.active {
        color: #ffd28f; // màu nâu vàng nhạt nổi bật
        font-weight: bold;
        border-bottom: 0.5px solid #fff;
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 10px;

        input {
            padding: 5px 15px;
            border: 1px solid #d2b48c; // Nâu nhạt
            border-radius: 20px;
            outline: none;
            background-color: #fdf7f2;
            color: #333;
            min-width: 250px; // tăng độ dài ô search

            &:focus {
                border-color: #ffd28f;
            }
        }

        .account-btn,
        .cart-btn {
            background: none;
            border: none;
            cursor: pointer;
            color: #f8f1e7;
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #70412a; // Nâu đậm
            }
        }
    }
}